<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @user.sub %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @user.tier %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
